name: CMake

on:
    - push
    - pull_request

jobs:
    build:
        # Make sure this builds on a wide variety of systems
        strategy:
            fail-fast: false
            matrix:
                build_type:
                    - Release
                    - Debug
                compiler:
                    - gcc
                    # - clang # doesn't compile boost

        runs-on: ubuntu-22.04

        steps:
            -   uses: actions/checkout@v4

            -   name: Before cache
                run: |
                    tree -L 3
                    find -name .git -type d

            -   name: Cache cmake dependencies
                id: cmake-deps
                uses: actions/cache@v3
                with:
                    # cmake cache files are stored in `$build_dir/_deps`. And the actual repos are named `${repo}-src`. `${repo}-subbuild` is needed too
                    path: |
                        build/_deps/*-src
                        build/_deps/*-subbuild
                    key: ${{ runner.os }}

            -   name: After cache
                run: |
                    tree -L 3
                    find -name .git -type d

            -   name: Install build dependencies
                run: ./install_build_deps.sh auto

            -   name: Setup C/C++ Compiler
                id: install_cc
                uses: rlalik/setup-cpp-compiler@v1.2
                with:
                    compiler: ${{ matrix.compiler }}

            -   name: Configure CMake
                # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
                # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
                run: cmake -B build -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
                env:
                    CC: ${{ steps.install_cc.outputs.cc }}
                    CXX: ${{ steps.install_cc.outputs.cxx }}

            -   name: After configure
                run: |
                    tree -L 3
                    find -name .git -type d

            -   name: Build
                # Build your program with the given configuration
                run: cmake --build build --config ${{ matrix.build_type }} -j "$(nproc --all)"
                env:
                    CC: ${{ steps.install_cc.outputs.cc }}
                    CXX: ${{ steps.install_cc.outputs.cxx }}

            -   name: Test
                working-directory: build
                # Execute tests defined by the CMake configuration.
                # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
                run: ctest -C ${{ matrix.build_type }} --output-on-failure

            -   name: Upload test results
                uses: actions/upload-artifact@v3
                if: success() || failure()
                with:
                    name: test-results_${{ matrix.build_type }}_${{ matrix.compiler }}
                    path: build/reports/**/*.xml
